<div class="container">
  <div class="py-5 text-center" class="info-box">
    <!-- <img class="d-block mx-auto mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
    <h4>PS Service Request</h4>
    <!-- <p class="lead">Below is an example form built entirely with Bootstrap's form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p> -->
    <p class="lead">
      {{ description }}
    </p>
    
  </div>

  <div class="row">

    <div class="col-md-12 order-md-1">

      <!-- <form class="needs-validation" novalidate> -->

        <hr class="mb-4">

        <div class="row">
            
            <div class="col-md-6 mb-3">
              
              <label for="cc-name">Date / Time</label>

              <input type="text" class="form-control" id="cc-name" placeholder="" 
                    [(ngModel)]="theDate" value="2018-09-02" placeholder="2018-09-02" required>

              <small class="text-muted">Enter the time for the service to request</small>
              <div class="invalid-feedback">
                Name on card is required
              </div>
            </div>

            <div class="col-md-4 mb-3">
              <label for="exampleFormControlSelect1">Pet Select</label>
              
              <select class="form-control" id="exampleFormControlSelect1"
                    (change)="getPet($event)">
                <option *ngFor="let p of pets" [value]="p.id">{{ p.petName }}</option>
              </select>

              <!-- <select class="form-control" (change)="updateReimbStatus($event, r.ticket_id)" style="width: 116px;">
                  <option>-Status-</option>
                  <option [value]="status.id" *ngFor="let status of reimbStatus" 
                          [ngValue]="status" [selected]="status.id == r.reimb_status">
                    {{ status.name }}
                  </option>
              </select>  -->

            </div>

          </div>

          <div class="row">
              <div class="col-md-6 mb-3">
                  <label for="cc-name">Description</label>
                  <textarea class="form-control" [(ngModel)]="srvReqDescription">
                  </textarea>
                  <div class="invalid-feedback">
                    Name on card is required
                  </div>
                </div>
          </div>

        <!-- <h4 class="mb-3">Pets</h4> -->
<!-- * n g F o r = "let r of reimbursementsArr" -->
        <!-- <div class="d-block my-3"> -->

          <!-- <div *ngFor="let p of pets" class="custom-control custom-radio">
            <input id="{{p.petName}}" name="paymentMethod" type="radio" class="custom-control-input" required>
            <label class="custom-control-label" for="{{p.petName}}">{{ p.petName }}</label>
          </div> -->

          <!-- <div class="custom-control custom-radio">
            <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
            <label class="custom-control-label" for="credit">Fluffy</label>
          </div>

          <div class="custom-control custom-radio">
            <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
            <label class="custom-control-label" for="debit">Smelly</label>
          </div>

          <div class="custom-control custom-radio">
            <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
            <label class="custom-control-label" for="paypal">Chewy</label>
          </div> -->

        <!-- </div> -->


        <hr class="mb-4">
        <!-- <button class="btn btn-primary btn-lg btn-block" type="submit">Submit Request</button> -->
        <a class="btn btn-lg btn-block btn-success" (click)="submitSrvRequest()" >Submit Request</a>
        
      <!-- </form> -->
    </div>
  </div>