<div class="container">
  <div class="row">
    <div class="col-md-2" style="color: black" id="profileBody">
      <br>
      <h3 id="firstName">Hi, {{firstName}}</h3>
      <img class="img-fluid img-responsive" src="{{urImage}}" alt="urpic" id="profilePic">
      <h5> A little about me: </h5>
      <p id="actualBio">{{bioDescription}}</p>
      <app-editprofile (bioUpdate)="receiveUpdate($event)"></app-editprofile>
      <hr>
    </div>
    <div class="col-md-10" id="petBody">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h2 class="panel panel-heading panel-primary my-4" style="text-align:center">This is {{petName}}</h2>
            <img class="img-fluid" src="{{petImage}}" alt="ptpic" id="petPic" >
          </div>
          <br>
            <div class="col-md-4" id="exPetInfo">
              <br>  
              <h4>Breed: {{breed}}</h4>
              <h4>{{petName}}'s Biography:</h4>
              <h3 class="my-3"></h3>
              <p id="petBio">{{petDescription}}</p>
              <div class="panel panel-default">
                <h4 id="petsNeedBorder">Special Needs:</h4>
                <ul>
                  <li *ngFor="let l of behaviors" [value]="p.id" id="behaviorList"></li>
                </ul>
                <h4 id="petsBehavior">Quirky Behaviours:</h4>
              </div>
                <hr>
                <span class="petButtons">
                  <app-editpetpro (petUpdate)="changePet($event)"></app-editpetpro>
                </span>
                <span class="petButtons">
                  <app-add-pet (addingPet)="receivePet($event)"></app-add-pet>
                </span>
                <hr>
                <select (change)="getPet($event)" id="selectList">
                  <option *ngFor="let p of newPetList" [value]="p.id">
                    <p id="option">{{ p.petName }}</p>
                  </option>
                </select>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>
</div>
<br>
<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container" id="footer">
    <p class="m-0 text-center text-white">Copyright &copy; petPal Co.</p>
  </div>
</footer>

<!-- Bootstrap core JavaScript -->
<link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Arvo|Gamja+Flower" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Arvo|Gamja+Flower|Rubik" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>