<div class="container">
  <!-- <div>
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Subject</th>
          <th>Sender</th>
          <th>Receiver</th>
        </tr>
      </thead>
      <tbody class="table-striped">
        <tr>
          <td>dw</td>
        </tr>
      </tbody>
    </table>
  </div> -->
  <div class="row mt-5">
    <div class="nav flex-column nav-pills col-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-inbox-tab" data-toggle="pill" href="#v-pills-inbox" role="tab"
        aria-controls="v-pills-inbox" aria-selected="true">Inbox</a>
      <a class="nav-link" id="v-pills-outbox-tab" data-toggle="pill" href="#v-pills-outbox" role="tab" aria-controls="v-pills-outbox"
        aria-selected="false">Outbox</a>
    </div>
    <div class="tab-content col-8" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-inbox" role="tabpanel" aria-labelledby="v-pills-inbox-tab">
        <div class="card-group" *ngFor="let m of inboxReceived">
          <div class="card">
            <div class="card-header">
              <small class="text-muted">TIME HERE</small>
            </div>
            <div class="card-body">
              <h5 class="card-title">SUBJECT HERE</h5>
              <p class="card-text">THICC MESSAGE HERE</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">SENT BY THIS PERESON HERE</small>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="v-pills-outbox" role="tabpanel" aria-labelledby="v-pills-outbox-tab">
        <p>test for now</p>
      </div>
    </div>
  </div>
</div>