button{
    background-image: linear-gradient(to right, #61dcf1 , rgb(3, 172, 214));
    border-color: #61dcf1;
    width: 150px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#user-img-upload, #pet-img-upload{
    width: 100%;
}

#proDescrip.break{ 
    padding-bottom: 80px;
    word-wrap: break-word;
    word-break: break-all;
    width: 450px;
    height: 100px;
}