<div class="left-layer">
    <h1 class="title">petPal</h1>
    <nav>
        <ul id="navbar">
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/profile">Profile</a></li>
            <li><a routerLink="/reqboard">Request Board</a></li>
            <li><a routerLink="/inbox">Inbox</a></li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
</div>

<div class="right-layer">
    <div class="urProfile">
        <div>
            <span class="pics">
                <img src="../../../assets/propic/mine.jpg" alt="propic" id="propic">
            </span>
            <span class="pics">
                <img src="../../../assets/petpic/pet2.jpg" alt="petpic" id="petpic">
            </span>
            <span class="pics">
                <ul id="medication">
                        My Medication:
                    <li>
                        strawberries
                    </li>
                    <li>
                        more strawberries dmwaodowmapdmwafwa
                    </li>
                </ul>
            </span>
        </div>
            <div>
                <span class="text">
                    <p id="urBio">
                            Hi, my name is Kenneth, and I own a
                            Goldenhound 4 Legged Terrir. His
                            name is Miso. Unfortunately, I travel
                            very often and have to leave the poor
                            little guy home all alone. There, I
                            am actively searching for a trustful
                            pet sitter to take care of him while I
                            travel.
                    </p> 
                </span>
                <span class="text">
                    <p id="petBio">
                            I'm miso!
                    </p> 
                </span>
            </div>
        </div>
    </div>

