
<div *ngFor="let p of serviceRequestPets;" style="border:1px solid black;">
  {{ p.id }}
  {{ p.pet.behaviour }}
  {{ p.pet.user.bioDescription }}
  <div *ngFor="let k of p.pet" style="background-color:lemonchiffon;">
    {{ k.breed }}
  </div>
</div>

<hr>
<div id="myDiv"> 
  <ul>
      <li *ngFor="let p of serviceRequestPets; let i = index">        
        <div class="row mb-2">
            <div class="col-md-6">
              <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                  <strong class="d-inline-block mb-2 text-success"> Date Registered: {{ p.date }}</strong>
                  <h3 class="mb-0">
                    <a class="text-dark" href="#">{{ p.pet.petName }}</a>
                  </h3>
                      <ul>
                        <li> Breed: {{ p.pet.breed }}</li>
                        <li> Pet Needs:  {{ p.pet.needs }} </li>
                        <li> Pet Behavior: {{ p.pet.behaviour }} </li>
                        <li> Pet Description: {{ p.pet.petDescription }} </li>
                        <li> User's Profile: {{ p.pet.user.firstName }}
                            <a href="#" data-toggle="modal" data-target="#userProfileModal"> {{ p.pet.user.firstName }}</a>
                        </li>
                      </ul>
                      <p>
                          <button type="button" class="btn btn-info btn" data-toggle="modal" data-target="#messageModal">Offer To Sit {{ p.pet.petName }}</button>
                      </p>
          
                    </div>
                    <img src="../../assets/images/kitty.jpg" alt="kitty" class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" style="width: 250px; height: 250px;">
                  </div>
                </div>
          
                <div class="modal fade" id="messageModal" role="dialog">
                    <div class="modal-dialog">
                    
                      <!-- Modal content-->
                      <div class="modal-content">


                        <div class="modal-header">
                          <h5 class="modal-title" style="color:red;" align="center"> YOU ARE ABOUT TO SUBMIT A SERVICE OFFER TO SIT A PET </h5>
                          </div>
                          
                          <div class="modal-body">
                         
                              <ul>
                                <li>Your name is: {{ p.pet.user.firstName }} </li>
                                <li>You are offering to sit {{ p.pet.petName }} </li>
                                <li>Dates offered to watch: </li>
                                <li>Send {{ p.pet.petName }}'s owner a message below with any concerns or comments.</li>
                              </ul>
                       
                            <textarea name="sendMessage" id="sendMessage" cols="55" form="usrform" placeholder="Insert Message Here"></textarea>
                          </div>
                          
                          <div class="modal-footer">
                              <button type="button" class="btn btn-primary" (click)="submitOfferToSit()" >Send Offer To Sit</button>
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel Offer</button>                        </div>
                          </div>
                      
                    </div>
                  </div>


                  <div class="modal fade" id="userProfileModal" role="dialog">
                      <div class="modal-dialog">
                      
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"> {{ p.pet.user.firstName }}'s Profile</h4>
                          </div>
                          <div class="modal-body">
                            <ul>
                                  <li>Date Registered: {{ p.pet.user.dateRegistered }} </li>
                                  <li>Bio: {{ p.pet.user.bioDescription }}</li>
                                  <li> Email:  {{ p.pet.user.email }} </li>
                              

                            </ul>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                        
                      </div>
                    </div>

            </div>

      </li>
      <li>
        
      </li>

  </ul>
  
</div>

<hr>

