<h1 class="jumbotron">Pet Pal Login</h1>

<!-- <div class="container center"> -->
<div>
<form (submit)="login()" >
    <!-- <label for="username">Username</label> -->
  <label for="username"></label>
  <input type="text" id="usernameLog" name="username" placeholder=Username required [(ngModel)]='username' /> <br>
  <label for="password"></label>
  <input type="password" id="passwordLog" name="password" placeholder=Password required [(ngModel)]='password' ><br>
  <div id="message" *ngIf="this.invalidLogin">
    The username or password you have entered is incorrect.
  </div>
  <input type="submit" class="btn btn-success" value="Log In!">
  <!-- <input type="submit" class="btn btn-link" value="Register"> -->
  <!-- <button (click)="open()" class="btn btn-link">Register</button> -->
  <!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->
</form>
<!-- <button class="btn btn-outline-primary" (click)="open(content)">Register</button> -->
<button class="btn btn-list" data-toggle="modal" data-target="#myModal">Register</button>

</div>


<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Create New Account</h3>
      </div>
        <div class="modal-body">
            <div class="form-group">
              <label for="firstname">First Name</label>
              <input type="text" id="firstNameReg" name="firstname" required [(ngModel)]='firstname'/> <br>
              <label for="lastname">Last name</label>
              <input type="text" id="lastNameReg" name="lastname" required [(ngModel)]='lastname'/> <br>
              <label for="email">Email</label>
              <input type="text" id="emailReg" name="email" required [(ngModel)]='email'/> <br>
              <label for="username">Username</label>
              <input type="text" id="usernameReg" name="username" required [(ngModel)]='regUsername'/> <br>
              <label for="password">Password</label>
              <input type="password" id="passwordReg" name="password" required [(ngModel)]='regPassword'/> <br>
              
              <label for="bioDescription">Describe Yourself</label>
              <input type="text" id="bioDescriptionReg" name="bioDescription" [(ngModel)]='bioDescription'/>
              <div id="message" *ngIf="this.bioTooShort">
                  Your description must be at least 15 characters long.
                </div>
          </div>
          <input type="button" class="btn btn-primary" (click)="register()" required value="Register">
      </div>
      <div class="modal-footer">
        <!-- <button type="submit" class="btn btn-primary">Register</button> -->
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<br>
<app-messaging></app-messaging>