/* Styles ideas from https://swagger.io/resources/open-api/ */

.info-box {
    border: 1px solid black;
    box-shadow: 1px 3px 8px black;
    /* background-color: #98999a; */
    background-color: rgba(0,0,0,.03);
    border-radius: 10px;
    width: 86%;
    margin-bottom: 44px;
    margin-top: 27px;
    text-align: center;
    margin: 0 auto;
    margin: 0 auto;
    margin-bottom: 6%;
    margin-top: 4%;
    padding: 3%;
}

.info-box h4 {
    color: black;
}

.info-box p {
    font-size: 110%;
    line-height: 140%;
    font-weight: 300;
    color: black;
}

a {
    padding: 0 20px;
    /* background-color: #57c534; */
    background-color: #4e714b !important;
    text-align: center;
    font-family: "Open Sans",Sans-Serif;
    color: #fff;
    display: inline-block;
    border-radius: 6px;
    font-size: 16px;
    line-height: 42px;
    transition: all .3s ease-in-out;
    min-width: 130px;
    height: 42px;
    border: 0px solid;
}

.card {
    box-shadow: 1px 3px 7px -2px black !important;
}

.card .card-header {
    background-color: rgba(0,0,0,.03) !important;
}

/* .swagger_home .home_buckets .home_bucket_icon {
    height: 147px;
    width: 147px;
    background-color: #fff;
    border-radius: 50%;
    line-height: 145px;
    color: #fff;
    text-align: center;
    margin: 0 auto 30px;
    overflow: hidden;
    transition: all .3s ease-in-out;
    box-shadow: 0 2px 8px #b4b8bc;
} */

/* .card .mb-4 .shadow-sm { */
    /* background-color: #eaebec; */

    /* height: 147px;
    width: 147px;
    background-color: #fff;
    border-radius: 50%;
    line-height: 145px;
    color: #fff;
    text-align: center;
    margin: 0 auto 30px;
    overflow: hidden;
    transition: all .3s ease-in-out;
    box-shadow: 0 2px 8px #b4b8bc;

}  */

/* .info-box {
    border: 1px solid white;
    box-shadow: 1px 3px 8px #fff;
    border-radius: 10px;
    width: 86%;
    margin-bottom: 44px;
    margin-top: 27px;
} */