/* You can add global styles to this file, and also import other style files */

/* Style from: https://swagger.io/resources/open-api/ */
/* body {
    background: linear-gradient(to right, #111 60%, #555);
}

h1 {
    font-size: 140%;
}

h1, h2, h3, p {
    color: #fff;
    font-family: "Open Sans",Sans-Serif;
}

p {
    font-size: 110%;
    line-height: 140%;
    font-weight: 300;
}
 */
