/* Styles ideas from https://swagger.io/resources/open-api/ */

/* a {
    padding: 0 20px;
    background-color: #57c534;
    text-align: center;
    font-family: "Open Sans",Sans-Serif;
    color: #fff;
    display: inline-block;
    border-radius: 6px;
    font-size: 16px;
    line-height: 42px;
    transition: all .3s ease-in-out;
    min-width: 130px;
    height: 42px;
    border: 0px solid;
}

.card {
    background-color: #eaebec;
} */