.custom-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.custom-card title {
    color: grey;
    font-size: 18px;
}

.custom-card button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.custom-card a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.custom-card button:hover, a:hover {
    opacity: 0.7;
}

.custom-card img {
    width: 200px;
    height: 250px;
}

#srvReqList-box {
    border:0px solid black;
    margin-top:20px;
    padding: 21px;
}

.card flex-md-row mb-4 box-shadow h-md-250 { 
    height: 85%;
}