.info-box {
    border: 1px solid black;
    box-shadow: 1px 3px 8px black;
    /* background-color: #98999a; */
    background-color: rgba(0,0,0,.03);
    border-radius: 10px;
    width: 86%;
    margin-bottom: 44px;
    margin-top: 27px;
    text-align: center;
    margin: 0 auto;
    margin: 0 auto;
    margin-bottom: 6%;
    margin-top: 4%;
    padding: 3%;
}

.info-box h4 {
    color: black;
}

.info-box p {
    font-size: 110%;
    line-height: 140%;
    font-weight: 300;
    color: black;
}