<h1 class="jumbotron">Pet Pal Login</h1>


{{ this.username }}
{{ this.password }}
<div class="container center">
<form (submit)="login()" >
  <label for="username">Username</label>
  <input type="text" id="usernameLog" name="username" placeholder=Username required [(ngModel)]='username' /> <br>
  <label for="password">Password</label>
  <input type="password" id="passwordLog" name="password" placeholder=Password required [(ngModel)]='password' ><br>
  <input type="submit" class="btn btn-success" value="Log In!">
</form>
</div>

<br>
<br>
<br>

<!-- 
<label for="imageUpload">Image Upload</label>
<input type="file" (change)="fileEvent($event)" name="imageUpload" id="imageUpload"/>
-->

<input 
  style="display: none" 
  type="file" (change)="onFileChanged($event)" 
  #fileInput>
<button (click)="fileInput.click()">Select File</button>

<!-- 
<input 
  style="display: none" 
  type="file" (change)="onFileChanged($event)" 
  #fileInput>
<button (click)="fileInput.click()">Select File</button>
<button (click)="onUpload()">Upload!</button> -->
<br><br>

<!-- <img [src]="Lucian.png"> -->
<!-- <img id="blah" [src]="imageSrc" alt="your image" /> -->

<img [src]="url">

